* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #D5E1EF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-container {
    background-color: #FFFFFF;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 320px;
    height: 499px;
    padding: 16px 16px 40px;
}

img {
    width: 288px;
    height: auto;
    border-radius: 10px;
}

.text-container {
    text-align: center;
    vertical-align: top;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0 16px;
    font-size: 15px;
    font-family: "Outfit", sans-serif;
    font-weight: 400;
}

.text-container > h2 {
    color: #1F314F;
    font-weight: 700;
}

.text-container > p {
    color: #68778D;
}
